.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 1200px) {
    .left-panel {
        height: 50%
    }
    .right-panel {
        height: 50%
    }
}

.comment-section {

}

.user-input {
    position: absolute;
    width: 600px;
    top: 10px;
}

.userOutput {
    position: relative;
    top: 150px;
    width: 600px;
    left: 0;
}

.file-section {
    position: relative;
    top: 150px;
    left: -1.25%;
    width: 100%;
}

.command-section {
    position: absolute;
    width: 100%;
    top: 0;
}
